.accounts {
  background-color: lightgrey;
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
  & > span {
    display: flex;
    justify-content: center;
  }
  .name {
    width: 10vw;
  }
  .address {
    width: 40vw;
  }
  .balance {
    width: 10vw;
  }
}
