.copy {
  cursor: pointer;
  &:active {
    color: blueviolet;
  }
}

.small {
  display: none !important;
}

@media (max-width: 700px) {
  .big {
    display: none !important;
  }
  .small {
    display: block !important;
  }
}
